body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
  }
  .topnav {
    background-color:#282e34;
    color:#ddd;
    overflow: hidden;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #fff;
    color: black;
}
.topnav a{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.pimg1, .pimg2, .pimg3, .pimg4{
  position:top;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  text-align:top;
  

/*This Thing Makes It a Parellex*/
  background-attachment:fixed;
}

.pimg1{
  background-image:url('../img/image1.jpg');
  min-height:100%;
}

.pimg2{
	text-align:top;
  background-image:url('../img/setup.jpg');
  min-height:500px;
}

.pimg3{
  background-image:url('../img/setup.jpg');
  min-height:600px;
}

.pimg4{
  background-image:url('../img/image1.jpg');
  min-height:600px;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color:#f4f4f4;
  color:#666;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
  
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}

.foot{
	background-color:#282e34;
  color:#ddd;
  text-align: center;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}

.button {
    background-color: #555555; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

a {
    color: white;
}
